
<!-- Post List Start -->

<li>
  <time datetime="{{ post.date | date_to_string }}">
    <span class="day">{{ post.date | date: '%e' }}</span>
    <span class="month">{{ post.date | date: '%^b' }}</span>
    <span class="year">{{ post.date | date: '%Y' }}</span>
  </time>
  <div class="info">
    <h2 class="title"><a href="{{site.baseurl}}{{post.url}}">#{{ post.title }}</a></h2>
    {{ post.summary | strip_html | markdownify | truncatewords: site.post-preview-words }}
    <!--<ul>
      <li>
        <a href="{{site.baseurl}}{{post.url}}#disqus_thread"><span class="fa fa-comments"></span> Comentários</a>
      </li>
      <li>
        <a href="{{site.baseurl}}{{post.url}}#play"><span class="fa fa-play-circle"></span> Tocar</a>
      </li>
      <li>
        <a href="{{site.baseurl}}{{post.url}}#play"><span class="fa fa-facebook"></span>asompartilhar</a>
      </li>
    </ul>-->
  </div>
</li>

<!-- Post List End -->
