
<!-- Blog Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <section id="page" class="container content-section text-center">

      {% include swipe-instructions.html %}

      {{ page.content | markdownify }}

      <ul class="post-list">
        {% for post in paginator.posts %}
          {% include post-list.html%}
        {% endfor %}
      </ul>

      {% include pagination.html %}

    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Blog Layout End -->
